blosc2==2.6.2
colorama==0.4.6
et-xmlfile==1.1.0
msgpack==1.0.8
ndindex==1.8
numexpr==2.10.0
numpy==1.26.4
openpyxl==3.1.2
packaging==24.0
pandas==2.2.2
pip-autoremove==0.10.0
plotly==5.20.0
py-cpuinfo==9.0.0
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
tables==3.9.2
tenacity==8.2.3
tzdata==2024.1
